.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col {
    max-width: 400px;
    margin: 15px;
    height: auto;
    width: 80%;
}

.movieImg {
    border-radius: 15px;
    object-fit: cover;
}

.movieDetails {
    font-size: 1.5rem;
}
.movieTitle {
    margin-top: 0;
    color: rgb(25, 255, 255);
}